<div class="sidenav-container">
  <div class="sidenav-items">
    <mat-icon class="sidenav-drawer-icon">keyboard_tab</mat-icon>
    <a class="sidenav-tile" routerLink="/dashboard"><mat-icon>apps</mat-icon> Dashboard</a>
    <a class="sidenav-tile" routerLink="/data"><i class="fa fa-database" aria-hidden="true"></i> Data</a>
    <a class="sidenav-tile" routerLink="/add-details"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Details</a>
    <a class="sidenav-tile" routerLink="/show-details"><i class="fa fa-file" aria-hidden="true"></i> Show Details</a>
    <a class="sidenav-tile" routerLink="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a>
  </div>
</div>
