<div class="wrapper-container">
  <form class="half-width" [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Doctor Name</mat-label>
      <input matInput type="text" formControlName="doctorName" />
      <mat-error *ngIf="(
        doctorForm.get('doctorName')?.touched &&
        doctorForm.get('doctorName')?.errors &&
        doctorForm.get('doctorName')?.hasError('required')
      )">
      Name is required
    </mat-error>
    <mat-error *ngIf="(
        doctorForm.get('doctorName')?.touched &&
        doctorForm.get('doctorName')?.errors &&
        doctorForm.get('doctorName')?.hasError('minlength')
      )">
      Name must be of greater than 3 characters
    </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="doctorEmail" />
      <mat-error *ngIf="(
        doctorForm.get('doctorEmail')?.touched &&
        doctorForm.get('doctorEmail')?.errors &&
        doctorForm.get('doctorEmail')?.hasError('required')
      )">
        Email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Department Name</mat-label>
      <input matInput type="text" formControlName="doctorDepartment" />
      <mat-error *ngIf="(
        doctorForm.get('doctorDepartment')?.touched &&
        doctorForm.get('doctorDepartment')?.errors &&
        doctorForm.get('doctorDepartment')?.hasError('required')
      )">
        Department Name is required
      </mat-error>
    </mat-form-field>

    <div class="input-group">
      <mat-form-field appearance="outline" class="gender-options">
        <mat-label>Select Gender</mat-label>
        <mat-select formControlName="doctorGender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="(
          doctorForm.get('doctorGender')?.touched &&
          doctorForm.get('doctorGender')?.errors &&
          doctorForm.get('doctorGender')?.hasError('required')
        )">
        Gender selection is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="doctorBirthdate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="(
          doctorForm.get('doctorBirthdate')?.touched &&
          doctorForm.get('doctorBirthdate')?.errors &&
          doctorForm.get('doctorBirthdate')?.hasError('required')
        )">
          Pick your birth date please
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="bloodgroup-options">
        <mat-label>Select Blood Group</mat-label>
        <mat-select formControlName="doctorBloodGroup">
          <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">
            {{ bloodGroup }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="(
          doctorForm.get('doctorBloodGroup')?.touched &&
          doctorForm.get('doctorBloodGroup')?.errors &&
          doctorForm.get('doctorBloodGroup')?.hasError
        )">
          Blood Group is required
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="doctorAddress" />
      <mat-error *ngIf="(
        doctorForm.get('doctorAddress')?.touched &&
        doctorForm.get('doctorAddress')?.errors &&
        doctorForm.get('doctorAddress')?.hasError('required')
      )">
        Address is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" formControlName="doctorPhone" />
      <mat-error *ngIf="(
        doctorForm.get('doctorPhone')?.touched &&
        doctorForm.get('doctorPhone')?.errors &&
        doctorForm.get('doctorPhone')?.hasError('required')
      )">
        Phone is required
      </mat-error>
      <mat-error *ngIf="(
        doctorForm.get('doctorPhone')?.touched &&
        doctorForm.get('doctorPhone')?.errors &&
        doctorForm.get('doctorPhone')?.hasError('minlength')
      )">
        Please enter a valid phone number
      </mat-error>
    </mat-form-field>

    <div class="button-groups">
      <button mat-raised-button class="submit-btn" [disabled]="!doctorForm.valid">Add Doctor</button>
      <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
    </div>
  </form>
  <div class="illustration-container half-width">
    <img [src]="'assets/images/Doctor-form.avif'" class="half-width" alt="Doctor" />
    </div>
</div>
